header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    font-family: serif;
}

.campo-obligatorio {
    border: 2px solid red;
}

input:disabled {
    background-color: #ccc; 
}

input:focus {
    background-color: lightgreen; 
}


label:hover {
    color: blue; 
    font-size: 25px; 
}

select option:checked {
    font-weight: bold;
}

input[type="radio"]:checked + label {
    font-weight: bold; 
}